:root {
	--width-min: 828px;
	--width-max: 1242px;
	--clr-text: #183535;
	--clr-appleGreen: #00f000;
	--clr-appleAmberDark: #f0a400;
	--clr-appleAmberLight: #f0c000;
}

html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	font-family: monospace;
	height: 100vh;
	background: rgb(62, 62, 62);
	background: radial-gradient(circle, rgba(62, 62, 62, 1) 0%, rgba(7, 7, 7, 1) 100%);
	/* background-color: #000000;
	background-image: linear-gradient(0deg, #000000 0%, #434343 74%); */
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-all {
	display: grid;
	grid-template-rows: 15% 85%;
	grid-template-areas:
		'header'
		'main';
	width: clamp(var(--width-min), 76.4vw, var(--width-max));
	height: 100vh;
}

button {
	font-family: monospace;
	outline: none;
	border: 1px solid var(--clr-appleGreen);
	color: var(--clr-appleGreen);
	background-color: transparent;
	border-radius: 5px;
	cursor: pointer;
}

/* header */
header {
	grid-area: header;
	width: clamp(var(--width-min), 76.4vw, var(--width-max));
	outline: 1px solid gainsboro;
}

h1 {
	color: var(--clr-appleAmberDark);
	font-size: 4rem;
	text-transform: uppercase;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* main */

main {
	grid-area: main;
	display: flex;
	flex-direction: column;
	width: clamp(var(--width-min), 76.4vw, var(--width-max));
	outline: 1px solid tan;
}
.greetings {
	color: var(--clr-appleGreen);
	font-size: 1.3rem;
	padding: 0px 2rem;
	width: clamp(var(--width-min), 76.4vw, var(--width-max));

	/* white-space: nowrap;
	margin: 0px auto;
	letter-spacing: 0.15em;
	overflow: hidden;
	border-right: 0.15em solid var(--clr-appleGreen);
	animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; */
}
/* 
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: var(--clr-appleGreen);
	}
} */

#form-name {
	margin-top: 2rem;
	outline: 1px solid darkblue;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
#input-name {
	margin-right: 3rem;
	height: 3rem;
	width: 23rem;
	border: 1px solid var(--clr-appleGreen);
	outline: none;
	border-radius: 5px;
	background-color: transparent;
	color: var(--clr-appleGreen);
	font-size: 1.5rem;
	padding-left: 1rem;
}
.bttn-name {
	height: 3rem;
	width: 7rem;
	font-size: 2rem;
	cursor: pointer;
}
/*  */
/* ship buttons */
.shipBttns-wrapper {
	width: 100%;
	height: 13rem;
	outline: 1px solid darkgreen;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.shipsBttn-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 2rem;
	margin-top: 0.5rem;
	flex-wrap: wrap;
}

.bttn-carrier,
.bttn-battleship,
.bttn-destroyer,
.bttn-frigate {
	width: 7rem;
	height: 3rem;
	font-size: 1rem;
	/* cursor: crosshair; */
}

.bttn-superdreadnought {
	width: 13rem;
	height: 3rem;
	font-size: 1rem;
}

.bttn-axisSelector,
.bttn-startGame {
	align-self: center;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	width: 10rem;
	height: 3rem;
	font-size: 1rem;
}

.bttn-startGame {
	font-size: 2rem;
	margin-top: 2rem;
}

/* info screen battle */

.infoScreen-wrapper {
	width: clamp(var(--width-min), 76.4vw, var(--width-max));
	height: 29rem;
	outline: 1px solid darkgoldenrod;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

.battleMessageElem {
	color: var(--clr-appleGreen);
}

/* player board */

.playerBoard-wrapper {
	outline: 1px solid darkmagenta;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.playerBoard-container {
	width: 25rem;
	height: 25rem;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	border: 1px solid var(--clr-appleGreen);
}
.player-gameCell {
	border: 1px solid var(--clr-appleGreen);
	color: gainsboro;
	text-align: center;
	display: grid;
	place-content: center;
	font-size: 1.5em;
	font-weight: 700;
}

/* comp board */

.compBoard-wrapper {
	outline: 1px solid gainsboro;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.compBoard-container {
	margin-top: 2rem;
	width: 25rem;
	height: 25rem;
	border: 1px solid var(--clr-appleGreen);
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
}
.comp-gameCell {
	border: 1px solid var(--clr-appleGreen);
	color: gainsboro;
	display: grid;
	place-content: center;
	font-weight: 700;
	font-size: 1.5em;
}

@media only screen and (min-width: 1242px) {
	.main {
		grid-area: main;
		width: clamp(var(--width-min), 76.4vw, var(--width-max));
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: calc(76.4% * 0.85) calc(24.6% * 0.85);
		grid-template-areas:
			'playerBoard compBoard'
			'infoScreen infoScreen';
	}

	.playerBoard-wrapper {
		grid-area: playerBoard;
	}

	.compBoard-wrapper {
		grid-area: compBoard;
	}

	.compBoard-container {
		margin-bottom: 31px;
	}

	.infoScreen-wrapper {
		grid-area: infoScreen;
		height: calc(1004.5px - 652.017px);
	}
}
