:root {
	--width-min: 350px;
	--width-max: 1200px;
	--padding-x: 1rem;
	--padding-y: 2rem;

	--border-radius: 5px;
	--input-height: 3rem;
	--bttn-width: 7rem;

	--colour-text: #183535;
	--colour-appleGreen: #00f000;
	--colour-appleAmberDark: #f0a400;
	--colour-appleAmberLight: #f0c000;
}

html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: var(--colour-appleAmberDark);
}

button {
	font-family: monospace;
	border: 1px solid var(--colour-appleGreen);
	color: var(--colour-appleGreen);
	background-color: transparent;
	border-radius: 5px;
	cursor: pointer;
}
button:hover {
	border: 1px solid var(--colour-appleAmberDark);
	color: var(--colour-appleAmberDark);
}

h1 {
	color: var(--colour-appleAmberDark);
	font-size: clamp(2rem, 10vw, 4rem);
	text-transform: uppercase;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
	font-family: monospace;
	background: rgb(62, 62, 62);
	background: radial-gradient(circle, rgba(62, 62, 62, 1) 0%, rgba(7, 7, 7, 1) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.container-all {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	width: clamp(var(--width-min), 90vw, var(--width-max));
	padding: var(--padding-y) var(--padding-x);
}

/* header */
.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-bottom: var(--padding-y);
}

.header__links {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 3rem;
	align-items: center;
	font-size: clamp(1rem, 3vw, 1.25rem);
}

/* main */
.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.greetings-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.greetings {
	color: var(--colour-appleGreen);
	font-size: clamp(1rem, 3vw, 1.5rem);
	width: 100%;
}

#form-name {
	margin-top: var(--padding-y);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
}

.form__input {
	display: flex;
	justify-content: center;
	align-items: center;
}

#input-name {
	height: var(--input-height);
	width: clamp(18rem, 50vw, 23rem);
	border: 1px solid var(--colour-appleGreen);
	border-radius: var(--border-radius);
	background-color: transparent;
	color: var(--colour-appleAmberDark);
	padding-left: var(--padding-x);
	font-size: clamp(1rem, 3vw, 1.5rem);
}

#input-name:focus {
	outline: 1px solid var(--colour-appleAmberDark);
	border: none;
}

.bttn-name {
	height: var(--input-height);
	width: var(--bttn-width);
	font-size: clamp(1rem, 3vw, 1.5rem);
	cursor: pointer;
}

/* ship buttons */
.shipBttns-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: var(--padding-y);
	gap: 1rem;
}

.shipsBttn-container {
	display: flex;
	justify-content: center;
	gap: 1rem;
	align-items: center;
	flex-wrap: wrap;
}

.bttn-carrier,
.bttn-battleship,
.bttn-destroyer,
.bttn-frigate {
	width: var(--bttn-width);
	height: var(--input-height);
	font-size: 1rem;
}

.bttn-superdreadnought {
	width: 13rem;
	height: var(--input-height);
	font-size: 1rem;
}

.bttn-axisSelector,
.bttn-startGame {
	align-self: center;
	margin-bottom: 0.5rem;
	width: 10rem;
	height: var(--input-height);
	font-size: 1rem;
}

.bttn-startGame {
	font-size: 2rem;
	margin-top: 2rem;
}

.bothBoards-container {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	gap: 2rem;
}

.compBoard-container {
	margin-bottom: 31px;
}

/* info screen battle */
.infoScreen-wrapper {
	margin-top: 2rem;
	width: 100%;
	height: 25rem;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

.infoScreen-preBattleMssg {
	overflow-y: hidden;
	font-size: 1.2rem;
	color: var(--colour-appleGreen);
}

.battleMessageElem {
	font-size: 1.2rem;
	color: var(--colour-appleGreen);
}

/* player board */
.playerBoard-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.playerBoard-container {
	width: clamp(20rem, 50vw, 30rem);
	height: clamp(20rem, 50vw, 30rem);
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	border: 1px solid var(--colour-appleGreen);
}
.player-gameCell {
	border: 1px solid var(--colour-appleGreen);
	color: gainsboro;
	text-align: center;
	display: grid;
	place-content: center;
	font-size: 1.5em;
	font-weight: 700;
}

/* comp board */
.compBoard-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.compBoard-container {
	margin-top: 2rem;

	width: clamp(20rem, 50vw, 30rem);
	height: clamp(20rem, 50vw, 30rem);
	border: 1px solid var(--colour-appleGreen);
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
}

.comp-gameCell {
	border: 1px solid var(--colour-appleGreen);
	color: gainsboro;
	display: grid;
	place-content: center;
	font-weight: 700;
	font-size: 1.5em;
}

.winner-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.bttn-restart {
	width: var(--bttn-width);
	height: var(--input-height);
	font-size: 1.25rem;
}

.winner-announcement {
	color: var(--colour-appleAmberDark);
	font-size: 1.5rem;
}
